<div class="container">
    <br>
    <h1 class="text-center">Pipe</h1>
    <hr>
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Variable</th>
                    <th scope="col">Pipe</th>
                    <th scope="col">Producto</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{nombre}}</th>
                    <td>lowerCase</td>
                    <td>{{nombre | lowercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre | uppercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td>{{nombre | slice:3}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:0:5</td>
                    <td>{{nombre | slice:0:5}}</td>
                </tr>
                <tr>
                    <td>{{arreglo}}</td>
                    <td>slice:0:5</td>
                    <td>{{arreglo | slice:0:5}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number</td>
                    <td>{{PI | number}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number:1.0-3</td>
                    <td>{{PI | number:'1.0-8'}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{porcentaje | percent}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent:'2.2-2'</td>
                    <td>{{porcentaje | percent:'2.2-2'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency</td>
                    <td>{{salario | currency}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'EUR'</td>
                    <td>{{salario | currency:'EUR'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'EUR':true:'4.2-2'</td>
                    <td>{{salario | currency:'EUR':true:'4.2-2' }}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>number:'.2-2'</td>
                    <td>{{salario | number:'.2-2' }}</td>
                </tr>
                <tr>
                    <td>{{valorDePromesa}}</td>
                    <td>async</td>
                    <td>{{valorDePromesa | async}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date </td>
                    <td>{{fecha | date}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'medium' </td>
                    <td>{{fecha | date:'medium'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'MMMM/dd' </td>
                    <td>{{fecha | date:'MMMM - dd' | uppercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre2}}</td>
                    <td>capitalizado </td>
                    <td>{{nombre2 | capitalizado:1:2:3}}</td>
                </tr>
                <tr>
                    <td>{{nombre2}}</td>
                    <td>capitalizado:false </td>
                    <td>{{nombre2 | capitalizado:false}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>contraseña : {{pass}}
                        <br>
                        <button (click)="pass=!pass" class="btn btn-block btn-outline-primary">
                          Cambiar</button>
                    </td>
                    <td>{{nombre | ocultar:pass}}</td>
                </tr>
            </tbody>
        </table>
        <h4>Slice</h4>
        <ul *ngFor="let i of arreglo | slice:3:20">
            <li>{{i}}</li>
        </ul>
        <h4>Json</h4>
        <pre>
          {{heroe | json}}
        </pre>
        <h4>Youtube <small>Video</small></h4>
        <hr>
        <iframe width="560" height="315" [src]="url | domSeguro:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br><br><br><br><br><br><br><br><br><br>


</div>